*{
    margin: 0px;
    padding: 0px;
}
html{
    background: rgb(22, 3, 0);
}
#CONTENEDOR{
    width: 1000px;
    height: 1500px;
    background: rgb(233, 233, 255);
    margin: auto;
    margin-top: 50px;
}
header{
    width: 1000px;
    height: 200px;
    background: rgb(255, 255, 255);
}
#ESLOGAN{
    width: 1000px;
    height: 200px;
    background: rgb(255, 247, 247);
    float: right;
    position: relative;
}
#Titulo{

    position: absolute;

    top: 140px;
    left: 50%;

    transform: translateX(-50%);

    color: rgb(255, 136, 0);

    font-size: 40px;

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    letter-spacing: 3px;
}
#AI{
    width: 1000px;
    height: 200px;
    background: rgb(123, 185, 255);
    float: left;
}
nav{
    width: 1000px;
    height: 100px;
    background:  rgb(41, 24, 14)
}
nav ul{
    list-style: none;
}
nav ul li{
    display: flex;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 5px;
    border-style: double;
    border-width: 5px;
    border-radius: 10px;
    border-color: rgb(255, 115, 0);
}
nav a{
    justify-content: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    padding: 30px;
    text-shadow: 30px;
    color: rgb(228, 141, 11);
}
main{
    width: 1000px;
   background: white;

   display: flex;
   flex-direction: column;
}
.actividad{
    display: flex;

    width: 1000px;
    min-height: 350px;
}
.imagenes{
    width: 400px;
    background: rgb(88, 64, 61);

    display: flex;
    justify-content: center;
    align-items: center;
}
.descripcion{
    width: 600px;
    background: rgb(160, 130, 118);

    padding: 20px;
    box-sizing: border-box;
}
.imgActividad{
    width: 200px;
    height: 325px;
}
footer{

    width: 1000px;
    height: 150px;

    background: rgb(41, 24, 14);

    color: orange;

    display: flex;

    justify-content: center;
    align-items: center;

    font-family: 'Times New Roman', Times, serif;

    font-size: 20px;
}